<<<<<<< HEAD
/* 
color: #27C4B9;
background-color: #506367; 

*/
.nav-link:hover{
    text-decoration: underline;
}
=======
.flask{
    height: 50px;
}
.parag{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
.post{
    text-align: center;
}
.postStyle{
    background-color: rgb(59, 175, 175);
}
#title{
    color: black;
    font-weight: bold;
    font-size: xx-large;
}

.bg-info{
    background-color: #f8f9fa !important;
}
>>>>>>> origin/abdo
