<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AccessAble</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="../static/images/accessable_logo.png">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <style>
        .access {
            color: #00d3b2; /* Color for "Access" */
        }
        .able {
            color: #486567; /* Color for "Able" */
        }
    </style>
  </head>
<body>
    <div class="position-relative">
        <nav class="navbar navbar-expand-lg bg-primary fixed-top ">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <span class="access">Access</span><span class="able">Able</span>
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <br><br>
        <div id="carouselExampleAutoplaying" class="carousel slide w-50 m-auto position-absolute end-0 mt-4" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../static/images/h_transport.svg" class="d-block w-50 m-auto" alt="handicapped transportation">
              </div>
              <div class="carousel-item">
                <img src="../static/images/h_job.svg" class="d-block w-50 m-auto" alt="handicapped jobs">
              </div>
              <div class="carousel-item">
                <img src="../static/images/h_communication.svg" class="d-block w-50 m-auto" alt="handicapped communication">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <br><br>
    </div>
    <div class="show-data" >
    </div>

<script src="../static/js/jquery-3.7.1.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>